namespace @nsname@ { namespace __git__ {
    char const * __version__   = "@version@";
    char const * __lasthash__  = "@lasthash@";
    char const * __timestamp__ = "@timestamp@";
    char const * __isdirty__   = "@isdirty@";
    char const * __compiler__  = "@cpp_compiler_name@";
}}
