#include <string>
namespace @nsname@ { namespace __git__ {
    std::string __version__   () { return  "@version@"; }
    std::string __lasthash__  () { return  "@lasthash@";}
    std::string __timestamp__ () { return  "@timestamp@";}
    std::string __isdirty__   () { return  "@isdirty@";}
    std::string __compiler__  () { return  "@cpp_compiler_name@";}
}}
