#include <pybind11/pybind11.h>
namespace @nsname@ { void pymodule(pybind11::module &); }

using namespace pybind11;
PYBIND11_PLUGIN(@module@)
{
     module m("@module@");
     m.attr("__version__") = cast("@version@");
     @nsname@::pymodule(m);

     return m.ptr();
}
