#include <pybind11/pybind11.h>
namespace @nsname@ { void pymodule(pybind11::module &); }

using namespace pybind11;
PYBIND11_MODULE(@module@, m)
{
     m.attr("__version__") = cast("@version@");
     @nsname@::pymodule(m);
}
